- name: update the apt package index and install packages to allow apt to use a repository over HTTPS
  apt:
    name:
      - ca-certificates
      - curl
      - gnupg
      - lsb-release
    state: present

- name: add Docker's official GPG key
  apt_key:
    url: https://download.docker.com/linux/ubuntu/gpg
    state: present
  
- name: Set up the stable repository
  apt_repository:
    repo: deb https://download.docker.com/linux/ubuntu bionic stable
    state: present

- name: Update the apt package index
  include_tasks: apt-update.yml

- name: Install the latest version of Docker Engine and containerd
  apt:
    name: 
      - docker-ce
      - docker-ce-cli
      - containerd.io
    state: present

- name: install pip
  apt:
    name: 
      - python3-pip
    state: present

- name: pip install docker
  pip:
    name: docker
